# Environnement
ASPNETCORE_ENVIRONMENT=Development

# Base de données
POSTGRES_USER=mettez_ici_votre_utilisateur
POSTGRES_PASSWORD=
POSTGRES_DB=mettez_ici_votre_base_de_donnees
# Redis (optionnel)
REDIS_PASSWORD=

# APIs

# JWT / Auth (à remplacer en prod)
