# Environnement
ASPNETCORE_ENVIRONMENT=Development

# Base de données
POSTGRES_USER=mettez_ici_votre_utilisateur

POSTGRES_DB=mettez_ici_votre_base_de_donnees
# Redis (optionnel)


# APIs

# JWT / Auth (à remplacer en prod)
