# Environnement
ASPNETCORE_ENVIRONMENT=Development

# Base de données
POSTGRES_USER=mettez_ici_votre_utilisateur
POSTGRES_PASSWORD=mettez_ici_votre_mot_de_passe
POSTGRES_DB=mettez_ici_votre_base_de_donnees
# Redis (optionnel)
REDIS_PASSWORD=mettez_ici_votre_mot_de_passe_redis

# APIs

# JWT / Auth (à remplacer en prod)
